---
import MapPinIcon from "./icons/MapPinIcon.astro";
interface Props {
  path: string;
  name: string;
  country: string;
}


const { name, country, path } = Astro.props;
---

<article>
  <div class="size-60 relative lg:size-[300px]">
    <img
      class="h-full w-full absolute"
      src={`/places/${path}.jpg`}
      alt={`${name} in ${country}`}
    />
    <div class="h-full w-full absolute bg-gradient-to-t from-black to-40%">
    </div>
  </div>
  <h3 class="font-semibold text-xl pt-4 pb-2 lg:pt-6">{name}</h3>
  <div class="flex gap-x-1">
    <MapPinIcon />
    <span class="text-sm text-body">{country}</span>
  </div>
</article>
